@keyframes loading {
    0% {
        stroke-dasharray: 2, 314;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 175, 314;
        stroke-dashoffset: -90px;
    }

    100% {
        stroke-dasharray: 2, 314;
        stroke-dashoffset: -314px;
    }
}

.other {
    fill: transparent;
    stroke: rgba(0,0,0, .1);
    stroke-width: 8;
}

.loading {
    fill: transparent;
    stroke-width: 6;
    stroke-dashoffset: 0;
    stroke-dasharray: 2, 314;
    stroke: #2970ff;
    animation: loading 1.5s infinite linear;
    cursor: pointer;
    stroke-linecap: round;
    /* transition: 10s all cubic-bezier(0.075, 0.82, 0.165, 1); */
    /* stroke-linecap 描述两端的形状，这里是使用round，圆角边 */
}

@keyframes shadow-loading-animate {
    25% {
        box-shadow: 0 0 0 0 transparent;
    }
    50% {
        box-shadow: 20px 0 0 0 rgba(0, 0, 0, .7);
    }
    75% {
        box-shadow: 20px 0 0 0 rgba(0, 0, 0, .7), 40px 0 0 0 rgba(0, 0, 0, .7);
    }
    100% {
        box-shadow: 20px 0 0 0 rgba(0, 0, 0, .7), 40px 0 0 0 rgba(0, 0, 0, .7), 60px 0 0 0 rgba(0, 0, 0, .7);
    }
}

.shadow-loading {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .7);
    animation: shadow-loading-animate 2s steps(1, start) infinite;
}

.grid-box {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(1, 100px);
    gap: 20px;
}

.grid-box > div {
    line-height: 100px;
    border-radius: 5px;
    background-color: #282c34;
    color: #fff;
    text-align: center;
}

.start-btn {
    text-decoration: none;
    position: relative;
    height: 32px;
    padding: 15px 35px;
    font-size: 24px;
    background-color: #1890ff;
    border-color: #1890ff;
    border-radius: 8px;
    color: #fff;
    border-color: transparent;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
    cursor: pointer;
    box-sizing: inherit;
    transition: all .3s linear;
}

.svg-arrow {
    position: absolute;
    right: -1px;
    transform: rotate(180deg) translateX(-100%);
    transition: transform .4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.start-btn span {
    transition: transform .4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.start-btn:hover span {
    transform: translateX(-15px)
}

.start-btn:hover .svg-arrow {
    transform: translateX(-10px) rotate(180deg);
}

.home {
    margin-top: 0.5rem !important;
}

.home-top {
    height: 300px;
}

.home-top h3 {
    font-size: 2rem;
}

.home-top .website {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
}

.home-top .start-btn {
    display: flex;
    margin: auto
}